pipeline/pl_act_filter_learning.json
{
	"name": "pl_act_filter_learning",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.name_list",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(toUpper(item()),'R')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "r_list",
					"value": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.name_list",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(toUpper(item()),'M' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "m_list",
					"value": {
						"value": "@activity('Filter2').output.Value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter3",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.name_list",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(not(startswith(toUpper(item()),'R')),\nnot(startswith(toUpper(item()),'M')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "other_list",
					"value": {
						"value": "@activity('Filter3').output.Value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"name_list": {
				"type": "array"
			}
		},
		"variables": {
			"r_list": {
				"type": "Array",
				"defaultValue": [
					"Ram",
					"Patil",
					"sham",
					"manoj",
					"manish",
					"Rohan",
					"kiran"
				]
			},
			"m_list": {
				"type": "Array"
			},
			"other_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}